:root {
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Cardo", serif;
    --midnight: #013d5a;
    --lionsmane: #fcf3e3;
    --celeste: #e1ebe9;
    --herb: #708c69;
    --marigold: #f4a25b;

}

*{
    box-sizing: border-box;
    padding: 0;
    font-family: var(--body-font);
   
    
}

#pagewrap {

    max-width: 1200px;
    margin: 0 auto;
}


/************HEADER*******************/


h1{
    font-family: var(--heading-font);
    color: var(--midnight);
    text-align: center;
    text-wrap: balance;
    padding-right: 10px;
}

header {
    display: grid;
    grid-template-columns: 100px auto auto;
    align-items: center;
    background-color: var(--celeste);
}

header img {
    width: 100px;
}

/***************HAMBURGER BUTTON****************/
.hamburger {
    background: none;
    color: var(--midnight);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*************NAVIGATION***************/
.navigation ul li {
    list-style-type: none;
}

.navigation ul li a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 10px;
}

.navigation ul li a:hover{
    background-color: var(--midnight);
    color: white;
}
.navigation ul li a.active {
   border: 3px solid var(--midnight);
    
}


.navigation {
    display: none;
}

.navigation.show {
    display: block;
}
/*************MAIN**************/

h2 {
    text-align: center;
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--midnight);
}

#grid-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-right: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
}

#list-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-left: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
        
}

.buttons {
    text-align: center;
}
.grid {
    
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.grid section{
    
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid var(--midnight);
    width: 300px;
}
    .grid section img {
        max-width: 100%;
        max-height: 100px;
        display: block;
        margin: auto;
    }
       

    .grid .name {
        display: none;
    }
   

.list {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.list section {
        display: grid;
        grid-template-columns: 1fr;
       text-align: left;
       align-items: baseline;
        padding: 10px;
}
        

        .list section p {
            margin-left: 0px;
            font-family: var(--body-font);
            text-wrap: balance;
        }

        .list section a {
            margin-left: 0px;
            font-family: var(--body-font);
            color: var(--midnight);
           
        }

        .list section a:hover {
            color: purple;
        }

        .list section a:visited {
            color: black;
        }

        .list section:nth-child(odd) {
            background-color: var(--celeste);
        }
        .name {
            display: contents;
            font-weight: bold;
        }

        


        .list img {display: none;
        }


    




/*********FOOTER****************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    place-items: center;
    
}

footer p {
    
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

footer img {
    width: 50px;
}

.title {
    font-weight:600;
    
}

#lastModified {
    font-size: small;
}

