:root {
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Cardo", serif;
    --midnight: #013d5a;
    --lionsmane: #fcf3e3;
    --celeste: #bdd3ce;
    --herb: #708c69;
    --marigold: #f4a25b;

}

*{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
   
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--midnight);
}

/************HEADER*******************/

h1 {
    text-align: left;
    font-size: 2.2rem;
    line-height: 0;
}

header {
   margin-top: 10px;
    display: grid;
    grid-template-columns: 200px auto auto;
    align-items: baseline;
    border-bottom: solid 5px var(--marigold);
     
}

header img {
    margin-bottom: none;
}

header nav  {
    display: flex;
    align-items: end;
    margin:0;
}

header nav ul li {
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
    font-weight:600;
    font-size:1rem;
    padding: 10px;
   
    
}

header nav ul li a:hover {
    background-color: var(--midnight);
    color:white;
    

}

header nav ul li a.active {
    text-decoration: overline;
    text-decoration-color: var(--marigold);
    text-decoration-thickness: 2px;
    
}

/*************MAIN**************/

h2 {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: var(--midnight);
}

/*********FOOTER****************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    align-items: center;
    
}

footer p {
    font-family: var(--heading-font);
}

.title {
    font-weight:600;
    font-family: var(--heading-font);
}