:root {
    --heading-font: "League Gothic", sans-serif;
    --body-font: "Roboto Condensed", sans-serif;
    --midnight: #013d5a;
    --celeste: #b2c2cb;
    --slate: #5f7d9b;
    --marigold: #f4a25b;

}

*{
    box-sizing: border-box;
    padding: 0;
    font-family: var(--body-font);
    color: var(--midnight);
   
    
}


#pagewrap {

    max-width: 1200px;
    margin: 0 auto;
}


/************HEADER*******************/

h1{
    font-family: var(--body-font);
    font-weight: 200;
    color: var(--midnight);
    text-align: left;
    font-size: clamp(2rem, 3vw, 2.5rem);
    line-height: .9;
    margin-bottom: 0;
    padding: 0;
   
}

h1 span {
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
    
    
    
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    border-bottom: 5px solid var(--marigold);
}

.header-left {
    display: flex;
    gap: 1rem;
}

/***************HAMBURGER BUTTON****************/
.hamburger {
    background: none;
    color: var(--midnight);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*************NAVIGATION***************/

.navigation ul {
    display: flex;
    flex-direction: column;
}
.navigation ul li {
    list-style-type: none;
}

.navigation ul li a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 10px;
}

.navigation ul li a:hover{
    background-color: var(--midnight);
    color: white;
}
.navigation ul li a.active {
   border: 3px solid var(--midnight);
    
}


.navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.navigation.show {
    display: block;
}
/*************MAIN**************/

h2 {
    text-align: center;
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--midnight);
}

#grid-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-right: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
}

#list-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-left: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
        
}

.buttons {
    text-align: center;
}
.grid {
    
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.grid section{
    
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 5px;
    padding-bottom:10px;
    border: 2px solid var(--midnight);
    width: 300px;
    box-shadow: 3px 3px 10px darkgrey;
   
}
    .grid section img {
        max-width: 100%;
        max-height: 100px;
        display: block;
        margin: auto;
    }

    .grid section p {
        margin: 0;
    }
       

    .grid .name {
        display: none;
    }
   

.list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   

}

.list section {
        display: grid;
        grid-template-columns: 1fr;
       text-align: left;
       align-items: baseline;
       padding: 10px 0 10px 20px;
   
}
        

        .list section p {
            margin-left: 0px;
            font-family: var(--body-font);
            text-wrap: balance;
            margin: 5px;
        }

        .list section a {
            margin-left: 0px;
            font-family: var(--body-font);
            color: var(--midnight);
           
        }

        .list section a:hover {
            color: purple;
        }

        .list section a:visited {
            color: black;
        }

        .list section:nth-child(odd) {
            background-color: var(--celeste);
        }
        .name {
            display: contents;
            font-weight: bold;
        }

        


        .list img {display: none;
        }

/**************HOME PAGE******************/
#hero-div {
    position:relative;
}

#join-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:75%;
    left: 85%;
    transform: translate(-75%, -75%);
    height: 50px;
    width: 135px;
    z-index: 2;
    background-image: radial-gradient(#ebbe97 20%, #f4a25b 80%);
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 15px;
  
}

#join-button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--heading-font);
    font-weight: bolder;
    }
.hero {
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px darkgrey;
  
    
}

.homesections {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px;
}

.homesections section {
    border: 2px solid var(--midnight);
    box-shadow: 3px 3px 10px darkgrey;
   
    
  }

.homesections section h3 {
    display: block;
    background-color: var(--midnight);
    color: white;
    padding: 5px;
    margin: 0;
    font-family: var(--heading-font);
    border-bottom: solid 5px var(--marigold);
    
}

.homesections img {
   
   width: 100px;
   height:100px;
}
 
#current-temp, #weather-description{
    text-align: center;
}

.homesections table {
    margin: 0 auto;
    border-collapse: separate;
    
    
}


.homesections table td{
    padding: 5px;
    font-size:1rem;
}

.homesections table td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
    font-family: var(--heading-font);   
}

.homesections table td:nth-child(even) {
   
    text-align: left;
    
}


#events-table th {
    display: none;   
}

#events-table tr:nth-child(even) {
    background-color: #b2c2cb80;
}
#events-table td:first-child {
        text-align: left;
        text-wrap: balance;
        font-family: var(--heading-font);
    }

#events-table td a {
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
}

#events-table td a:hover {
    color: var(--slate)
}
#events-table td a:visited {
    color: #5a013c;
}

#current-temp {
    font-size: 2rem;
}

#weather-description {
    text-transform: capitalize;
}

.weather-div {
    display: flex;
    flex-direction: row;
}
    
.forecast-div {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center; 
    
  
}

.forecast-div table {
    border-spacing:10px;
    margin-top: 1rem;
}

.forecast-div table td{
    font-size: 1rem;
   
  
}

#spotlights {
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem;

}

#spotlights section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--midnight);
    padding: 5px;
    margin: 1rem;
    box-shadow: 3px 3px 10px darkgrey;
    
}

.card-center {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.spotlightlogo {
    width: auto;
    height: 75px;
}

.star {
    position: absolute;
    top: -20px;
    left: -23px;


}

/*********FOOTER****************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    place-items: center;
    
}

footer p {
    
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

/* footer img {
    width: 50px;
} */

.title {
    font-weight:600;
    
}

#lastModified {
    font-size: small;
}

