:root {
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Cardo", serif;
    --midnight: #013d5a;
    --lionsmane: #fcf3e3;
    --celeste: #bdd3ce;
    --herb: #708c69;
    --marigold: #f4a25b;

}

*{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
   
    
}




/************HEADER*******************/


h1{
    font-family: var(--heading-font);
    color: var(--midnight);
    text-align: center;
    text-wrap: balance;
    padding-right: 10px;
}

header {
    display: grid;
    grid-template-columns: 100px auto auto;
    align-items: center;
    background-color: var(--celeste);
}

header img {
    width: 100px;
}

/***************HAMBURGER BUTTON****************/
.hamburger {
    background: none;
    color: var(--midnight);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*************NAVIGATION***************/
.navigation ul li {
    list-style-type: none;
}

.navigation ul li a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 10px;
}

.navigation ul li a:hover{
    background-color: var(--midnight);
    color: white;
}
.navigation ul li a.active {
   border: 3px solid var(--midnight);
    
}


.navigation {
    display: none;
}

.navigation.show {
    display: block;
}
/*************MAIN**************/

h2 {
    text-align: center;
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--midnight);
}

#grid-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        border-radius: 5px;
}

#list-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
}
.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    
    section{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid var(--midnight);
        width: 300px;
        
       

            .name {
                display: none;
            }
    }
   
}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0;
        padding: 5px;

        
    }

    img {display: none;
    }

}
    




/*********FOOTER****************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    align-items: center;
    
}

footer p {
    
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 50px;
}

.title {
    font-weight:600;
    
}