:root {
    --heading-font: "League Gothic", sans-serif;
    --body-font: "Roboto Condensed", sans-serif;
    --midnight: #013d5a;
    --celeste: #b2c2cb;
    --slate: #5f7d9b;
    --marigold: #f4a25b;

}

*{
    box-sizing: border-box;
    padding: 0;
    font-family: var(--body-font);
    color: var(--midnight);
   
    
}


#pagewrap {

    max-width: 1200px;
    margin: 0 auto;
}


/************HEADER*******************/

h1{
    font-family: var(--body-font);
    font-weight: 200;
    color: var(--midnight);
    text-align: left;
    font-size: clamp(2rem, 3vw, 2.5rem);
    line-height: .9;
    margin-bottom: 0;
    padding: 0;
   
}

h1 span {
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
    
    
    
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    border-bottom: 5px solid var(--marigold);
}

.header-left {
    display: flex;
    gap: 1rem;
}

/***************HAMBURGER BUTTON****************/
.hamburger {
    background: none;
    color: var(--midnight);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*************NAVIGATION***************/

.navigation ul {
    display: flex;
    flex-direction: column;
}
.navigation ul li {
    list-style-type: none;
}

.navigation ul li a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 10px;
}

.navigation ul li a:hover{
    background-color: var(--midnight);
    color: white;
}
.navigation ul li a.active {
   border: 3px solid var(--midnight);
    
}


.navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.navigation.show {
    display: block;
}
/*************MAIN**************/

h2 {
    text-align: center;
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--midnight);
}

#grid-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-right: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
}

#list-button {
        background-color: var(--midnight);
        color: white;
        padding: 10px;
        margin-left: 5px;
        border-radius: 5px;
        font-family: var(--heading-font);
        
}

.buttons {
    text-align: center;
}
.grid {
    
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.grid section{
    
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 5px;
    padding-bottom:10px;
    border: 2px solid var(--midnight);
    width: 300px;
    box-shadow: 3px 3px 10px darkgrey;
    border-radius: 5px;
   
}
    .grid section img {
        max-width: 100%;
        max-height: 100px;
        display: block;
        margin: auto;
    }

    .grid section p {
        margin: 0;
    }
       

    .grid .name {
        display: none;
    }
   

.list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   

}

.list section {
        display: grid;
        grid-template-columns: 1fr;
       text-align: left;
       align-items: baseline;
       padding: 10px 0 10px 20px;
   
}
        

        .list section p {
            margin-left: 0px;
            font-family: var(--body-font);
            text-wrap: balance;
            margin: 5px;
        }

        .list section a {
            margin-left: 0px;
            font-family: var(--body-font);
            color: var(--midnight);
           
        }

        .list section a:hover {
            color: purple;
        }

        .list section a:visited {
            color: black;
        }

        .list section:nth-child(odd) {
            background-color: var(--celeste);
        }
        .name {
            display: contents;
            font-weight: bold;
        }

        


        .list img {display: none;
        }

/**************HOME PAGE******************/
#hero-div {
    position:relative;
}

#join-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:75%;
    left: 85%;
    transform: translate(-75%, -75%);
    height: 50px;
    width: 135px;
    z-index: 2;
    background-image: radial-gradient(#ebbe97 20%, #f4a25b 80%);
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 15px;
  
}

#join-button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--heading-font);
    font-weight: bolder;
    }
.hero {
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px darkgrey;
    border-radius: 0 0 5px 5px;
  
    
}

.homesections {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px;
}

.homesections section {
    border: 2px solid var(--midnight);
    border-radius: 5px;
    box-shadow: 3px 3px 10px darkgrey;
   
    
  }

.homesections section h3 {
    display: block;
    background-color: var(--midnight);
    color: white;
    padding: 5px;
    margin: 0;
    font-family: var(--heading-font);
    border-bottom: solid 5px var(--marigold);
    
}

.homesections img {
   
   width: 100px;
   height:100px;
}
 
#current-temp, #weather-description{
    text-align: center;
}

.homesections table {
    margin: 0 auto;
    border-collapse: separate;
    
    
}


.homesections table td{
    padding: 5px;
    font-size:1rem;
}

.homesections table td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
    font-family: var(--heading-font);   
}

.homesections table td:nth-child(even) {
   
    text-align: left;
    
}


#events-table th {
    display: none;   
}

#events-table tr:nth-child(even) {
    background-color: #b2c2cb80;
}
#events-table td:first-child {
        text-align: left;
        text-wrap: balance;
        font-family: var(--heading-font);
    }

#events-table td a {
    text-decoration: none;
    color: var(--midnight);
    font-family: var(--heading-font);
}

#events-table td a:hover {
    color: var(--slate)
}
#events-table td a:visited {
    color: #5a013c;
}

#current-temp {
    font-size: 2rem;
}

#weather-description {
    text-transform: capitalize;
}

.weather-div {
    display: flex;
    flex-direction: row;
}
    
.forecast-div {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center; 
    
  
}

.forecast-div table {
    border-spacing:10px;
    margin-top: 1rem;
}

.forecast-div table td{
    font-size: 1rem;
   
  
}

#spotlights {
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem;

}

#spotlights section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--midnight);
    padding: 5px;
    margin: 1rem;
    box-shadow: 3px 3px 10px darkgrey;
    border-radius: 5px;
    
}

.card-center {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.spotlightlogo {
    width: auto;
    height: 75px;
}

.star {
    position: absolute;
    top: -20px;
    left: -23px;
}

/******************JOIN PAGE *****************/
#main-join {
    text-align: center;
}
 form {
    display: inline-block;
    text-align: left;
    min-width: 300px;
    max-width: 600px;

 }

fieldset {
    max-width: 100%;
    border: 5px solid var(--slate);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: .5rem;  
    box-shadow: 3px 3px 10px darkgrey;

}

legend {
    font-family: var(--heading-font);
    font-size: 2rem;
    text-align: center;
    background-color: var(--midnight);
    color: white;
    border-bottom: 5px solid var(--marigold);
    padding: .25rem;
    border-radius: 5px;
}

.join-form label {
    font-family: var(--heading-font);
    font-weight: bold;
    margin-top: .5rem;
    border-radius: 10px;

    
}
.join-form input { 
    font-family: var(--body-font);
    color: var(--midnight);
    padding: .5rem;
}

#level {
    padding: .4rem;
}

#description {
    width: 100%;
    height: 75px;
    padding: .25rem;
}

:required:hover {
    border: 2px darkred solid;
}

.join-form button {
    display: block;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    width: 50%;
     margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: var(--midnight);
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    

}

#card-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    
    
}

#card-div img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#card-div section {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--midnight);
    border-radius: 5px;
    width: 250px;
    text-align: center;
    box-shadow: 3px 3px 10px darkgrey;
    transform: translateY(-100px);
    animation: floatDown 2s ease-out forwards;
}

@keyframes floatDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100%  {
        opacity: 1;
        transform: translateY(0);
    } 
}
#card-div section:nth-child(1) {animation-delay: 0s;}
#card-div section:nth-child(2) {animation-delay: 0.4s;}
#card-div section:nth-child(3) {animation-delay: 0.8s;}
#card-div section:nth-child(4) {animation-delay: 1.2s;}


#card-div section h3 {
    display: block;
    background-color: var(--midnight);
    color: white;
    padding: 5px;
    margin: 0;
    font-family: var(--heading-font);
    border-bottom: solid 5px var(--marigold);
}

.open-modal{
    width: 50%;
     max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--midnight);
    color: white;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
}

dialog {
    position: relative;
    background-color: var(--celeste);
    text-align: left;
    inset: 0;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 30px;
}

.close-modal {
    position:absolute;
    display: block;
    top: 1%;
   right: 1%;
    background-color: var(--midnight);
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: 5px;
    border: 5px var(--midnight) solid;
    
}

form, fieldset, .join-form button, .open-modal, #card-div section, #card-div img {
    max-width: 100%;
    box-sizing: border-box;
}

/************THANKS PAGE******************/

.thanks-main {
    text-align: center;
}
.thanks-h1 {
    text-align: center;
    font-family: var(--heading-font);
}
.thanks-p {
    text-align: center;
    font-size: larger;
}
.form-data {
    display: inline-block;
    text-align: left;
    border: 2px solid var(--midnight);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    line-height: 1.5;
    font-size: large;
    
}

/********************DISCOVER PAGE************************/


.attraction-cards {
    display: grid;
    gap: 1rem;
    
    padding-bottom: 1rem;
    justify-items: center;
}

.attraction-cards section {
    border: 2px solid var(--midnight);
    border-radius: 5px;
    width: 100%;
    gap: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 10px 10px 10px;
    display: grid;
    grid-template-areas: 
    "name"
    "photograph" 
    "address"
    "description"
    "cost"
    ;

}

.attraction-cards h3 {
    grid-area: name;
    margin: 0;
}

.attraction-cards img {
    width: 100%;
    height: auto;
    display: block;
    grid-area: photograph;
}

#cost {
    grid-area: cost;
    font-size: smaller;
}   

#description {
    grid-area: description;
    margin-top: 5px;
   
    
}

.attraction-cards address {
    grid-area: address;
    margin-top: 0;
}

/*********FOOTER****************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    place-items: center;
    
}

footer p {
    
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

/* footer img {
    width: 50px;
} */

.title {
    font-weight:600;
    
}

#lastModified {
    font-size: small;
}



/***********MED WIDTH QUERY*************/
@media only screen and (min-width: 38rem)  {
.attraction-cards section {
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "photograph name"
    "photograph description" 
    "photograph address"
    "photograph cost"
 
    ;

}

.attraction-cards img {
    width: 300px
}
    
}
