@media only screen and (min-width: 50rem) {

/****************HEADER**********************/
header, main, nav, footer {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
    flex-wrap: nowrap;
    gap: 1rem
   
}
.header-left {
    display: flex;
    align-items: center;
    gap:2rem;
}

.header-left img {
   
    display: block;
    width: 100px;
    height: auto;

}
h1{
    font-family: var(--body-font);
    font-weight: 200;
    color: var(--midnight);
    text-align: left;
    font-size: clamp(2rem, 3vw, 2.5rem);
    line-height: .9;
    margin-top: 30px; 
    margin-bottom: 0;
    padding: 0;
   
}

h1 span {
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
}
    
/*****************NAVIGATION********************/

.hamburger { 
    display: none;
}
.navigation {
   display: block; 
   position: static;
   width: auto;
   background:none;
   margin: 0;
   padding: 0;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.navigation ul li a {
    font-family: var(--heading-font);
}

.navigation ul li a.active {
    text-decoration: overline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--marigold);
    border: none;
}

  #ham-btn {
    display: none;
    }


/******************MAIN********************/
.list section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}

/******************HOME********************/
.homesections {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;


}  

#spotlights {
    grid-template-columns: 1fr 1fr 1fr;

}
/******************FOOTER*******************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    align-items: center;
    
}

}
   
  

    


