@media only screen and (min-width: 50rem) {

/****************HEADER**********************/
header, main, nav, footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-wrap: balance;
    font-size: 2.5rem;
}

.top-bar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    /* background-color:#b2c2cb80; */
    border-bottom: var(--marigold) 5px solid;
    
}

header {
  display: grid;
  grid-template-columns: 125px auto;
  align-items: baseline;
  
}


    
/*****************NAVIGATION********************/

.hamburger { 
    display: none;
}
.navigation {
   display: flex;
   align-items: end;
   
   
}

.navigation ul li a {
    font-family: var(--heading-font);
}

.navigation ul li a.active {
    text-decoration: overline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--marigold);
    border: none;
}

  #ham-btn {
    display: none;
    }


/******************MAIN********************/
.list section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}

/******************HOME********************/
.homesections {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}  
/******************FOOTER*******************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 5px var(--marigold);
    padding-top: 10px;
    align-items: center;
    
}

}
   
  

    


