:root {
    --heading-font: "Cinzel", serif;
    --body-font: "Fauna One", serif;
    --navy: #0A3556;
    --light-blue: #5FA8D3;
    --mint: #A8E6CF;
    --slate: #415A6B;
    

}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    text-align: center;
}

body {
    font-family: var(--body-font);
    text-align: center;
    padding: 1rem;
    
    color: var(--navy)
}

.main-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    border: 4px solid var(--slate);
    background-color: #A8E6CF80;
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    
}

.scenarios, .purpose{
    text-align: left;
}

.navy{
    background-color: var(--navy);
    color: white;
}

.light-blue {
    background-color: var(--light-blue);
    
}

.mint {
    background-color: var(--mint);
}

.slate {
    background-color: var(--slate);
    color: white;
}

li {
    list-style-type: none;
}

.desktop {
    max-width: 600px;;
}

.mobile {
    max-width: 300px;
}


@media only screen and (min-width: 50rem) {

    .main-div {
        grid-template-columns: 1fr 1fr;
    }

    .name, .wireframe {
    grid-column: 1/3;
    max-width: 50%
}

}