@media only screen and (min-width: 64rem){

    .header-div {
        grid-template-columns: max-content auto;
    }
    .header-div img {
        padding-bottom: 1rem;
    }
    .headliner {
        font-size: 4.5rem;
    }

    .header-div p {
        text-align: left;
    }

    .weather-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    
}

   .weather-card {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: auto;
    transform: translateX(-50px);
    animation: floatDown 1.6s ease-out forwards;
}



@keyframes floatDown {
    0% {
        opacity: 1;
        transform: translateX(-50px);
    }

    100%  {
        opacity: 1;
        transform: translateY(0);
    } 
}

.weather-card:nth-child(1) {
    animation-delay: 0s;
}
.weather-card:nth-child(2) {
    animation-delay: 0.4s;
}
.weather-card:nth-child(3) {
    animation-delay: 0.8s;
}
.weather-card:nth-child(4) {
    animation-delay: 1.2s;
}
.weather-card:nth-child(5) {
    animation-delay: 1.6s;
}

.weather-card h3 {
    display: block;
    width: 100%;
    background-color: var(--navy);
    color: white;
    margin-top: 0;
    padding: 1rem;
    border-bottom: 5px solid var(--mint);
}

.time {
    font-size: 1.7rem;
}

.temp {
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-style: oblique;
    text-wrap: pretty;
}

    
    
}