@media only screen and (min-width: 40rem){

    .header-div {
        grid-template-columns: auto;
        justify-items: center;
    }

    .headliner {
        font-size: 3rem;
    }

    #ham-btn {
        display: none;
        
    }    

    .navigation {
    display: block;
    align-items: center;
    background-color: var(--mint);
    border-bottom: 5px solid var(--navy);
    
  
   
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;
       
}

.navigation ul li a {
    
    margin: 0;
    padding: 0.75rem 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



.hero-img, .hero-img img {
    border-radius: 0 0 10px 10px;
}

.weather-card {
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 400px;
    
}

.weather-icon {
    display: block;
}

.weather-card h3 {
    grid-column: 1/5;
}



footer {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

footer img {
    margin-top: 1rem;
}

#lastModified {
    grid-column: 1 / 4;
    font-size: small;
    padding-bottom: 1rem;
}

}