:root {
    --heading-font: "Lora", serif;
    --text-font: "Varela", sans-serif;
    --teal: #238080;
    --red: darkred;
    

}

*{
    box-sizing: border-box;
    
}

/********************** HEADER*************************/
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    grid-gap: 10px;
    align-items: end;
    
}

header span {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--red);
    text-align: center;
    
   
}
header img {
    display: block;
    width:50px;
    height: auto;
    margin-left: 5px;
    
    
}

/**************HAMBURGER BUTTON*********************/

.hamburger {
    background:none;
    border: none;
    color: #238080;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before{
    content: "\00D7";
}

/*******************NAVIGATION********************/

.navigation ul li {
    list-style-type: none;
    font-family: var(--text-font);
    font-size: 1.2rem;
    text-align: center;
    
}

.navigation ul li a{
    display: block;
    text-decoration: none;
    color: var(--teal);
    padding: 5px;
}

.navigation ul li a:hover{
    background-color: var(--teal);
    color: white;
}
.current {
    border: 2px solid var(--teal);
    border-radius: 10px;
}
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

/***************MAIN******************/

h1, h2 {
    font-family: var(--heading-font);
    color: var(--red);
    text-align: center;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

main section {
    border: 2px solid var(--teal);
    border-radius: 10px;
}


.aboutme {
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--text-font);
}



.profilepic {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    
    
}

/***************WEB COURSES***************/

.classnum {
    display: inline;
    font-family: var(--heading-font);
    font-weight: bolder;
    text-align: center;
}
.certificate {
    padding: 0 10px 10px;
}


.certificate button {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 5px;
    margin: 5px;
    background-color: var(--teal);
    color: white;
    font-family: var(--heading-font);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    
}

.certificate section {
    padding: 5px;
    font-family: var(--text-font);
    width: 15rem;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.creditspan {
    display: block;
    font-family: var(--text-font);
    background-color: var(--red);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
}

/*******************MODAL******************/
#coursedetails {
    border: 2px solid var(--teal);
    border-radius: 5px;
    padding: 1rem;background-color: #fff;
    box-sizing: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    
}

::backdrop {
    background-color: lightgrey;
}

#coursedetails button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 2px solid var(--teal);
    border-radius: 5px;
}
/***************FOOTER******************/
footer {
    background-color: #ddd;
    font-family: var(--text-font);
    border-radius: 10px;
    padding-bottom:5px;
    padding-top: 5px;

}

div{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.icon {
    width: 50px;
    margin: 0 5px;
}

div a {
    padding-top: 5px;
}

div a:hover {
    background-color: #ddd;
    border-radius: 100px;

    
}


footer p {
    margin-top: 20px;
    text-align: center;
}