:root {
    --heading-font: "Lora", serif;
    --text-font: "Varela", sans-serif;
    --teal: #238080;
    --red: darkred;
    

}

*{
    box-sizing: border-box;
}

/********************** HEADER*************************/
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    grid-gap: 10px;
    align-items: end;
    
}

header span {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--red);
    text-align: center;
    
   
}
header img {
    display: block;
    width:50px;
    
    
}

/**************HAMBURGER BUTTON*********************/

.hamburger {
    background:none;
    border: none;
    color: #238080;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before{
    content: "\00D7";
}

/*******************NAVIGATION********************/

.navigation ul li {
    list-style-type: none;
    font-family: var(--text-font);
    font-size: 1.2rem;
    text-align: center;
    
}

.navigation ul li a{
    display: block;
    text-decoration: none;
    color: var(--teal);
    padding: 5px;
}

.navigation ul li a:hover{
    background-color: var(--teal);
    color: white;
}

.current {
    border: 2px solid var(--teal);
    border-radius: 10px;
}
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

/***************MAIN******************/

h1, h2 {
    font-family: var(--heading-font);
    color: var(--red);
    text-align: center;
}


main {
    display: grid;
    grid-column: 1fr;
    grid-gap: 5px;
}

main section {
    border: 2px solid var(--teal);
    border-radius: 10px;
    margin-left: 5px;
}


.aboutme {
    text-align: left;
    padding-left: 5px;
    font-family: var(--text-font);
}



.profilepic {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 5px;
    
    
}

/***************FOOTER******************/

div{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.icon {
    width: 50px;
    margin: 0 5px;
}

div a {
    padding-top: 5px;
}

div a:hover {
    background-color: #ddd;
    border-radius: 100px;

    
}


footer p {
    margin-top: 20px;
    text-align: center;
}